.container{
    max-width: 500px;
    margin: 100px auto;
    border: 3px solid rgba(4, 84, 255, 0.5);
}

.display{
    text-align: right;
    height: 70px;
    line-height: 140px;
    padding: 16px 8px;
    font-size: 25px;
    border: 3px solid rgba(4, 84, 255, 0.5);
}
.buttons{
    display: grid;
    grid-template-columns: repeat(4,1fr);
}
.buttons > div{
    border: 2px solid rgba(4, 84, 255, 0.5);
}
.button{
    line-height: 80px;
    text-align: center;
    font-size: 25px;
    cursor: pointer;
}
.equal{
    background: rgb(1, 10, 133);
    color:#fff;
}
.button:hover{
    background: #3d1bff;
    color: #fff;
    transition: 0.5s ease-in-out;
    
}